body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}

table {
  width: 100%;
}
ul {
  padding: 0;
}
td {
  margin-left: 5px;
  margin-top: 5px;
}
a {
  margin-top: 2px;
  color: white;
}
li {
  list-style-type: none;
}
h5 {
  margin-top: 15px;
}
a:hover {
  color: white;
}
tr:nth-child(odd) {
  background-color: #f3f3f3;
}

.btn {
  color: black;
}
/* end of general styling */
.top-nav {
  background-color: #1482c2;
  color: white;
  overflow: hidden;
}

#top-ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  float: right;
}

#top-ul li {
  margin-right: 7px;
  color: white;
  margin-top: 2px;
}

#top-form {
  margin-bottom: 5px;
}
.topNav {
  margin-left: auto;
}

/*  end of navbars  */
#black {
  margin-right: 8px;
}
#brown {
  margin-right: 8px;
}
#clear {
  margin-right: 8px;
}
#shop-m {
  margin-top: 35px;
  margin-bottom: 15px;
}
#phone-facts {
  width: 47%;
  float: right;
  margin-right: 6.2rem;
  margin-top: 30px;
  overflow: hidden;
  margin-bottom: 6rem;
}
.paymentB {
  margin-top: 5px;
}

#phone-facts li {
  margin-top: 10px;
}
#smallImg {
  margin-left: 60px;
  margin-top: 3rem;
}
.phone-images {
  float: left;
  width: 30%;
  margin-left: 9.7rem;
  margin-top: 2.8rem;
  overflow: hidden;
}

#i-border {
  border-bottom: 1px solid #ddd1d1;
}
#i-borderT {
  border-top: 1px solid #ddd1d1;
}

#radb {
  border-bottom: 1px solid #ddd1d1;
}

.phoneDisplay {
  background-color: white;
  border: 1px solid #ddd1d1;
  border-radius: 2px;
  overflow: hidden;
}

/*  end of Phone display  */

.spec-bg {
  background-color: white;
}
.specs-table {
  margin: 30px;
}
.specCon {
  background-color: white;
  border: 1px solid #0000003a;
  border-radius: 2px;
  margin-top: 27px;
  overflow: hidden;
}

.titleName {
  margin-left: 13px;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* end of specs */

.footer {
  background-color: #1d4e6e;
  color: #fff;
  font-size: 12px;
  margin-top: 15rem;
  display: block;
  overflow: hidden;
}
.footerContent {
  padding: 30px 15px 15px 15px;
  width: 88.626%;
  margin: 20px;
}
.list1 li {
  margin-bottom: 7px;
  margin-left: 5px;
}
.f1 {
  float: left;
  width: 15.771%;
}
.f3 {
  width: 25%;
  float: left;
}
.f4 {
  width: 30%;
  float: left;
}

#firstLI {
  margin-top: 15px;
}

/* end of footer */

.bottomNav {
  background-color: #123145;
  clear: both;
  min-height: 2em;
}
.bnav {
  max-width: 940px;
  width: 88.626%;
  display: flex;
  color: white;
}

.bnav li {
  margin-right: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* media queries  */

.PhoneUl {
  display: none;
  background-color: white;
  border: 1px solid #0000003a;
  border-radius: 2px;
  margin-top: 27px;
  overflow: hidden;
}
#phoneUL {
  list-style-type: dot !important ;
  margin: 10px;
}
.withD {
  list-style-type: dot !important ;
}
#mobB {
  display: none;
}

@media (max-width: 500px) {
  #bigImg {
    padding-right: 3rem;
  }
  .PhoneUl {
    display: block;
    list-style-type: dot !important ;
  }

  #mobB {
    display: block;
    width: auto;
  }
  #smallImg {
    display: none;
  }
  .top-nav {
    display: none;
  }
  .bottomNav {
    display: none;
  }

  .phoneDisplay {
    flex-direction: column;
    align-items: center;
  }
  .f1 .list1,
  .f3 .list1 {
    grid-template-columns: 1fr;
  }
}
